.question-screen {
    background-color: aliceblue;
   }
.invisibleSubmit {
    visibility: hidden;
}
.introduction {
    background-color: aquamarine;
}
ul {
    list-style-type: none;
}
.final {
    background-color: blanchedalmond;
}
.notvisible {
    visibility: hidden;
}