h1 {
    text-align: center;
    font-style: normal; 
    font-family: monospace;  
    font-size: 69px;
    color: #efb758;
    
}

#Start{
    float: left;
    font-family: monospace;
    font-size: 20px;
    color: #c34129;
}
.question-screen {
    background-color: aliceblue;
   }
.invisibleSubmit {
    visibility: hidden;
}
.introduction {
    background-color: #e2dbc9;;
    width: 600px;
    margin: auto; 
    float: center;
    justify-content:center;
    font-family: monospace;
    font-size: 20px;
    color: #c34129
}
ul {
    list-style-type: none;
}
.final {
    background-color: blanchedalmond;
}
.notvisible {
    visibility: hidden;
}
.result {
    background-color: blueviolet;
}
body {
    background-image: url("background.png");
    background-color: #e2dbc9;
    margin: 10px 120px 10px 120px;
    padding: 0px;
    }