* {
    margin:0;
    padding:0;
    font-family: monospace;
     }

.notvisible {
    visibility: hidden;
}
input[type='radio'], label{   
    vertical-align: baseline;
    padding: 10px;
    margin: 10px;
    }

#navigation {
    width: 100%;
    height: 21%;
    border-top-color: #213058;
    background-color: #213058;
    color: #F0E6D7;
    padding: 20px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    position: fixed;
    top: 0;
    }
   
.introduction {
    background-image: url("background.png");
    background-color: #F0E6D7;
    width: 100%;
    height: 100%;
    background-attachment: auto;
    margin-top: 11%;
    position: fixed;
    
}
#Start{
    float: left;
    font-family: monospace;
    font-size: 30px;
    color: #213058;
    margin-top: 30px;
    margin-left: 25%;
    background-color: #F4AE3F;
    border-style: hidden;
   }

#Start:hover {
    color:   #F0E6D7;
}

#Submit:hover {
    color:  #F0E6D7;
}

#welcome{
    float: center;
    margin-top: 20px;
    margin-right: 25%;
    margin-left: 25%;
    font-size: 25px;
    color: #c34129;
    }   

.question-screen {
    width: 100%;
    height: 100%;
    padding: 30px;
    
    background-attachment: auto;
    margin-top: 140px;
    position: fixed;
    font-size: 35px;
    color: #c34129;
    background-color: #F0E6D7; 
    padding-left: 60px;
    }

#Submit {
    margin-top: 70px;
    margin-left: 50px;
    display:block;
    position: fixed;
    font-size: 35px;
    background-color: #F4AE3F;
    color:#213058;
    border-style: hidden;
    }

.questions-all{
    margin-right: 10%;
}
#answer1button {
    margin-top: 30px;
    margin-left: 10px;
}

#inbetweenScreen {
    width: 100%;
    height: 100%;
    margin-top: 140px;
    padding: 30px;
    background-attachment: auto;
    position: fixed;
    font-size: 35px;
    color: #c34129;
    background-color:#F0E6D7; 
    padding-left: 60px;
}
#lastScreen {
    width: 100%;
    height: 100%;
    margin-top: 140px;
    padding: 30px;
    background-attachment: auto;
    position: fixed;
    font-size: 50px;
    color: #c34129;
    background-color: #F0E6D7; 
    padding-left: 60px;
    background-image: url("Sopranos.gif");
}
#NextQuestion{
    float: right;
    font-family: monospace;
    font-size: 35px;
    color: #213058;
    margin-top: 23px;
    margin-right: 60%;
    background-color: #F4AE3F;
    border-style: hidden;
   }
#NextQuestion:hover {
    color:  #F0E6D7;
}
#playerpoints{
    background-color: #f0e6d7;
    border-style: hidden;
    text-align: center;
    color: #28696A;
    margin-top: 20px;
    margin-left: 90%;
    width: 120px;
    height: 13%;
    font-weight: 700;
    font-size: 30px;
    position: fixed;
    top: 0;
}
/* in den Footer und Buttons starr positionieren. */
#answeredquestions{
    
    background-color:  #F0E6D7;
    border-style: hidden;
    color: #213058;
    font-size: 40px;
    font-family: monospace;
    width: 400px;
    height: 45px;
    position:fixed;
    margin-left: 40%;
    margin-top: 50%;
    margin-right: 30%;
    position: fixed;
    font-size: 35px;
}
 /*
h1 {
    text-align: center;
    font-style: normal; 
    font-family: monospace;  
    font-size: 69px;
    color: #efb758;
  
}
.background {
    background-image: url("background.png");
    background-color: #e2dbc9;
       width:100%;
    height: 100%;
 }
#Start{
    float: left;
    font-family: monospace;
    font-size: 20px;
    color: #c34129;
}
#Submit{
    float: left;
    font-family: monospace;
    font-size: 20px;
    color: #c34129;
}

.question-screen {
    background-color: #e2dbc9;
    width: 600px;
    margin: auto; 
    float: center;
    justify-content:center;
    font-family: monospace;
    font-size: 20px;
    color: #c34129;
   }
   */
   .invisibleSubmit {
    visibility: hidden;
}
/*
.introduction {
    background-color: #e2dbc9;;
    width: 600px;
    margin: auto; 
    float: center;
    justify-content:center;
    font-family: monospace;
    font-size: 20px;
    color: #c34129
}
.final {
    background-color: blanchedalmond;
} */

/*
.result {
    background-color: #e2dbc9;;
    width: 600px;
    margin: auto; 
    float: center;
    justify-content:center;
    font-family: monospace;
    font-size: 20px;
    color: #c34129
}
#NextQuestion {
    float: left;
    font-family: monospace;
    font-size: 20px;
    color: #c34129;
}
#answeredquestions {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: green;
    font-size: 20px;
    font-family: monospace;
    background-color: #e2dbc9;
    border-color: black;
    float: right;
    } */

/*
/*Grundsetting

 * {
  margin:0;
  padding:0;
   font-family: monospace;
   }
/*Überbau mit Titel

   #navigation {
    width: 100%;
    height: 10%;
    background-color: rgb(250, 226, 190, 0,8);
    margin-right:30px;
    font-weight: 700;
    position: fixed;
    top: 0;
    z-index: 10;
   }

   #banner {
    width: 100%;
    height: 100%;
    z-index:0;
    background-image: url("background.png");
    background-color: #e2dbc9;
    background-size: cover;
   }
*/